.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
}

.loading-content {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -10px;
}
